<!DOCTYPE html>
<html>
<head>
<title>Macunaima Media Player</title>
<meta charset="utf-8" />
<link rel="stylesheet" media="screen" href="static/macunaima.css" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
$_GET = function(name){
     var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
     if (results==null){
      return null;
     }
     else{
      return results[1] || 0;
     }
}


//alert($_GET('accept'));

str_query = "playlist?method=NEIGH&limit=1";
var accept = [];
var reject = [];
var skip = [];
curr_id = -1;


function make_query(accept, reject, skip) {
  if ((accept.length==0) && (reject.length==0) && (skip.length==0)) {
  str_query = "playlist?method=RAND&limit=1";
  return str_query;
  }
  else {
    str_query = "playlist?method=NEIGH&limit=1";
   for (i=0; i<accept.length; i++) {
     str_query += "&accept=" + accept[i];
   }
   for (i=0; i<reject.length; i++) {
     str_query += "&reject=" + reject[i];
   }
   for (i=0; i<skip.length; i++) {
     str_query += "&skip=" + skip[i];
   }
   return str_query;
  }
}

reload = function(query) {
  console.log(query);

  var json_action = $.getJSON(query, function(info){
    console.log(info);
    console.log(info[0].file + " " +  info[0].id);


    $("#audio").attr("src", "static/" + info[0].file).detach().appendTo("#audiocontrols");
    $("#audiocontrols").load();
    $("#title").text(info[0].title);

    curr_id = info[0].id;

  });

}

function get_next() {
 index = skip.indexOf(curr_id);
 if (index < 0) {
  skip.push(curr_id);
 }
 str_query = make_query(accept, reject, skip);
 reload(str_query);
}

function like() {
 index = accept.indexOf(curr_id);
 if (index < 0) {
   accept.push(curr_id);
 }
 index = reject.indexOf(curr_id);
 if (index > -1) {
   reject.splice(index);
 }
}

function dislike() {
 index = reject.indexOf(curr_id);
 if (index < 0) {
   reject.push(curr_id);
 }
 index = accept.indexOf(curr_id);
 if (index > -1) {
   accept.splice(index);
 }
 str_query = make_query(accept, reject, skip);
 reload(str_query);
}

$(document).ready(function(){
  var index;
  if ($_GET('accept') != null) {
  str_query += "&accept=" + $_GET('accept');
  }
  reload(str_query);
/*
  $("#Reload").click(function(){
    get_next();
  });*/

  $("#Reject").click(function(){
    dislike();
  });
  /*
  $("#Accept").click(function(){
    like();
  });*/


  $("#audiocontrols").bind('ended', function(){
    like();
    get_next();
  });

});
</script>


</head>

   <!-- <body> -->
  <body style="max-width:400px">
<div id="pagewidth">
  <div id="header">
    <h2 id="title"></h2>
  </div>
  <div id="wrapper">
    <div id="maincol" class="mediaplayer">
      <center>
      <p>
      <audio id="audiocontrols" controls width="300" height="105" autoplay>

      <source id="audio" src="static/audio/1/01_-_Trilha_01.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
      </p>
      <p>
      <input type="image" src="static/img/recycle.png" width="50px" height="50px" id="Reject" class="imgbutton">
      </p>
      <!--Skip</button>-->
<!--    <button id="Reload">Skip</button> -->
<!--      <button id="Accept">Like</button> -->

      </center>
    </div>
  </div>
  <div id="footer">
  </div>
</div>

</body>
</html>

