<!DOCTYPE html>
<html>
<head>
<title>Macunaima Media Player</title>
<meta charset="utf-8" />
<link rel="stylesheet" media="screen" href="static/macunaima.css" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
$_GET = function(name){
     var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
     if (results==null){
      return null;
     }
     else{
      return results[1] || 0;
     }
}


//alert($_GET('accept'));

str_query = "playlist?method=NEIGH&limit=1";
var accept = [];
var reject = [];
var skip = [];
curr_id = -1;


function make_query(accept, reject, skip) {
  if ((accept.length==0) && (reject.length==0) && (skip.length==0)) {
  str_query = "playlist?method=RAND&limit=1";
  return str_query;
  }
  else {
    str_query = "playlist?method=NEIGH&limit=1";
   for (i=0; i<accept.length; i++) {
     str_query += "&accept=" + accept[i];
   }
   for (i=0; i<reject.length; i++) {
     str_query += "&reject=" + reject[i];
   }
   for (i=0; i<skip.length; i++) {
     str_query += "&skip=" + skip[i];
   }
   return str_query;
  }
}

reload = function(query) {
  console.log(query);

  var json_action = $.getJSON(query, function(info){
    console.log(info);
    console.log(info[0].file + " " +  info[0].id);
    //$(document).attr('location').href=window.location.href;


    $("#audio").attr("src", "static/" + info[0].file).detach().appendTo("#audiocontrols");
    $("#audiocontrols").load();
/*
    $("#audio").attr({
       "src" : "static/" + info[0].file
    });
*/
    $("#title").text(info[0].title);

    curr_id = info[0].id;

  });

}

$(document).ready(function(){
  var index;
  if ($_GET('accept') != null) {
  str_query += "&accept=" + $_GET('accept');
  }
  reload(str_query);
  $("#Reload").click(function(){
    index = skip.indexOf(curr_id);
    if (index < 0) {
      skip.push(index);
    }
    str_query = make_query(accept, reject, skip);
    reload(str_query);
  });
  $("#Reject").click(function(){
    reject.push(curr_id);
    index = accept.indexOf(curr_id);
    if (index > -1) {
      accept.splice(index);
    }
    str_query = make_query(accept, reject, skip);
    reload(str_query);
  });
  $("#Accept").click(function(){
    index = accept.indexOf(curr_id);
    if (index < 0) {
      accept.push(curr_id);
    }
    index = reject.indexOf(curr_id);
    if (index > -1) {
      reject.splice(index);
    }

  });


});
</script>


</head>

<body>

<div id="pagewidth">
  <div id="header">
    <h2 id="title"></h2>
  </div>
  <div id="wrapper">
    <div id="maincol">
      <p>
      <audio id="audiocontrols" controls width="720" height="405" autoplay>

      <source id="audio" src="static/audio/1/01_-_Trilha_01.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
      </p>
      <button id="Reject">Dislike</button>
      <button id="Reload">Skip</button>
      <button id="Accept">Like</button>


    </div>
  </div>
  <div id="footer">
  Copyleft?
  </div>
</div>

</body>
</html>

